@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&display=swap&family=Cardo&display=swap');


.lato {
    font-family: 'Lato';
}

.open-sans {
    font-family: 'Open Sans';
    line-height: 1.8;
}

.roboto {
    font-family: 'Roboto';
}

.cardo {
    font-family: 'Cardo';
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}


.my-10 {
    margin-block: 10%;
}

.bg-dark-50 {
    opacity: 1;
    background-color: #484747;
}

.txt-sub-header {
    color: #6aa490;
}

.p-txt-color {
    color: #777;
}

.txt-green {
    color: #0a5133;
}

.txt-green-25 {
    color: #2f6742;
}

.txt-green-50 {
    color: #477e5e;
}

.btn-red {
    padding: 10px;
    border-radius: 50%;
    border: 1px solid;
}

footer .btn-red {
    border: 1px solid white;
}

.btn-red:hover,
.btn-red:focus {
    color: white !important;
    background-color: red !important;
    border: 1px solid red !important;
    transition: 0.2s ease;
    scale: 1.1;
}

.hero-container {
    position: relative;
    height: 36rem;
}

.hero img {
    /* contrast(120%) */
    filter: brightness(0.45);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    /* opacity: 0.9; */
}

.hero-txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.navbar {
    z-index: 9999;
}

.navbar.active {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar-nav {
    gap: 12px;
}

.navbar,
.navbar .container-fluid,
.navbar .navbar-nav a,
button {
    transition: all 0.3s ease-in-out;
}

.navbar .navbar-nav a:hover {
    color: #D80032 !important;
    transform: scale(1.38);
    font-weight: bold;
}

.navbar-toggler {
    border: none;
}


.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: none !important;
}

/* carousel */
.header-carousel .carousel-item img {
    object-fit: cover;
    filter: brightness(0.4);
}

.header-carousel {
    /* background-color: #643e64; */
    position: absolute;
    color: white;
    height: 100%;
}

.header-carousel .carousel-text {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
}

.header-carousel .carousel-text h1 {
    font-size: 50px;
    font-family: initial;
    font-style: italic;
}

.header-carousel .carousel-text h2 {
    font-family: initial;
    color: #cabdbd;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100% !important;
}

.icon-img {
    width: 50px;
    margin-block: 6px;
}

.grid-images img {
    object-fit: cover;
    object-position: left;
    height: calc(100% - 0px);
}

/* single img from grid image */

.single-img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.375rem !important;
    position: relative;
    transition: .6s ease-out;
}

.single-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #ff0000a6;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
}

.single-img:hover::before {
    opacity: 1;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.single-img .single-img-text {
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    z-index: 3;
    opacity: 0;
    transition: 0.5s;
}

.single-img:hover .single-img-text {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.single-img-text p {
    font-size: 20px;
    display: flex;
    gap: 16px;
    justify-content: center;
}

/* grid-person */
.grid-person .card .card-img-top {
    height: 16rem;
    object-fit: cover;
    object-position: top;
}

.grid-person .card .card-footer {
    display: flex;
    gap: 10px;
}

.grid-person .card .card-footer a i,
.footer-bg a i {
    font-size: 1.6rem;
    display: table;
}

/* footer */
.footer-bg {
    position: relative;
    background-color: #474784;
    color: white;
    padding-block: 120px;
    padding-inline: 2%;
}

.authority {
    background-color: #31315b;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-block: 16px;
}

@media only screen and (min-width: 1400px) {
    .grid-person .card .card-img-top {
        height: 24rem;
    }

    .grid-person .card .card-footer a i {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 991px) {

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding: 0;
    }

    .hero-container {
        height: 18rem;
    }

    .hero-navbar .navbar .navbar-nav {
        height: 30rem;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .hero-txt {
        width: 100%;
        padding-inline: 10px;
    }

    .grid-person .card .card-img-top {
        height: 14rem;
    }

    .header-carousel h1,
    .header-carousel h2 {
        font-size: 22px !important;
    }

    .footer-bg {
        padding-block: 70px;
        padding-inline: 8px;
    }
}

@media only screen and (max-width: 768px) {
    .header-carousel {
        height: 18rem;
    }

    .header-carousel .carousel-text {
        top: 30%;
        left: 0%;
    }

}